/*
 * Layout
 * e.g. extra things in addition to bootstrap
 */



.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  min-height: 1px;
  position: relative;
  //padding-right: 10px;
  //padding-left: 10px;
}

.col-xs-15 {
  float: left;
  width: 20%;
}
@media (min-width: 768px) {
  .col-sm-15 {
    float: left;
    width: 20%;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    float: left;
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    float: left;
    width: 20%;
  }
}
