


/*
 * Lists
 */


ul.plain {
  padding-left: 0;

  li {
    list-style-type: none;
    margin-left: 1.1em;
  }
}



.faqs ul {
  /*list-style:none;
    padding-left: 0px;*/
}


.arrow-icon li:before {
  color: $clr-ui-border;  // was #CCC
  content: '\f105';
  display: inline-block;
  font-family: 'FontAwesome';
  margin-left: -1.1em;
  width: 1.1em;
}


